body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(27, 27, 172);
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #d7d4d4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  #quote-box {
    margin-bottom: 20px;
  }
  
  #quote {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  #author {
    font-size: 1.2em;
    color: #555;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 2px solid black;
  }
  